@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-content main-content">
    <div class="side-app">
        <div class="container-fluid main-container">

            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title">Gang Registration</h4>
                </div>
            </div>
            <!--End Page header-->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 m-0">
                                <div class="row">
                                    <div class="col-3">
                                        <label class="mt-5 form-label">Gang</label>
                                        <select id="gang" class="form-control form-select select2" required>
                                            <option value="-0">.: Select Gang :.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="table-responsive table-lg">
                                            <table id="tableWork" class="table card-table table-vcenter text-nowrap border" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Staff ID</th>
                                                        <th>Staff Name</th>
                                                        <th>Grade</th>
                                                        <th>Position</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select id="staffID" class="form-control form-select select2" required="required">
                                                                <option value="-0">.: Select Staff ID :.</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="staffname" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="grade" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="position" readonly />
                                                        </td>
                                                        <td>
                                                            <button id ="btn" class="delBtn btn btn-danger delete m-1">Delete</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button id="sbmtBtn" type="button" class='btn btn-success submit m-1'>Submit Gang</button>
                                    <button id="addBtn" type="button" class='btn btn-primary addmore m-1'>Add More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- end app-content-->



@section scripts{
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/scripts/semua.js"></script>
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            listGang();
            listStaffDet();
            listStaff();
        });

      //delete 
        $('#tableWork').on('click', '.delBtn', function (e) {
            e.preventDefault();
            var $row = $(this).closest('tr');
            if ($row.siblings().length > 0) {
                $row.remove();
            } else {
                $row.find('input').val(''); 
                $row.find('select').val($row.find('select option:first').val()); 
                $row.find('select').trigger('change');
            }
        });

        //add row
        $('#addBtn').click(function () {
            var newRow = $('#tableWork tbody tr:first').clone();
            newRow.find('input').val('');
            newRow.find('select').val("-0").prop('selectedIndex', 0);
            var newSelectID = 'staffID' + Date.now(); // unique id using timestamp
            newRow.find('select[id^="staffID"]').attr('id', newSelectID);
            $('#tableWork tbody').append(newRow);
            newRow.find('.select2-container').remove();
            $('#' + newSelectID).select2();
            $('#' + newSelectID).trigger('change');
        });    

        // change according staffid
        $(document).on('change', 'select[id^="staffID"]', function () {
            var staffID = $(this).val();
            var row = $(this).closest('tr');
            listStaffDet(staffID, row);
        });     

        // Fetch staff details based on staff ID
        function listStaffDet(staffID, row) {
            $.ajax({
                url: linkDepan + "GetUserDetails?StaffId=" + staffID,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data && Array.isArray(data) && data.length > 0) {
                        row.find('#staffname').val(data[0].Nama);
                        row.find('#grade').val(data[0].Grade);
                        row.find('#position').val(data[0].JobDesc);
                    } else {
                        row.find('#staffname').val('');
                        row.find('#grade').val('');
                        row.find('#position').val('');
                    }
                },
                error: function (xhr) {
                    swarning();
                }
            });
        }

        //list emplid
        function listStaff() {
            $.ajax({
                url: linkDepan + "GetUser",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.Emplid + "'>" + value.Emplid + "</option>";
                        });
                        $('#staffID').append(auxArr.join(''));
                    } else {
                        $("#staffID").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        //list gang
        function listGang() {
            $.ajax({
                url: linkDepan + "GangList",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.id + "'>" + value.gang + "</option>";
                        });
                        $('#gang').append(auxArr.join(''));
                    } else {
                        $("#gang").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

    </script>
}

