@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-content main-content">
    <div class="side-app">
        <div class="container-fluid main-container">

            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title">Gang Registration</h4>
                </div>
                <div class="page-rightheader ms-auto d-lg-flex d-none">
                    <ol class="breadcrumb">
                        <li></li>
                        <li class="breadcrumb-item active font-weight-bold" aria-current="page">Gang Registration</li>
                        <li class="breadcrumb-item"><a href="/Gang/GangList"><span class="breadcrumb-icon">Gang List</span></a></li>
                    </ol>
                </div>
            </div>
            <!--End Page header-->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gang Registration</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 m-0">
                                <div class="row">
                                    <div class="col-3">
                                        <label class="mt-5 form-label">Gang</label>
                                        <select id="gang" class="form-control form-select select2" required>
                                            <option value="-0">.: Select Gang :.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="table-responsive table-lg">
                                            <table id="tableWork" class="table card-table table-vcenter text-nowrap border" width="100%">
                                                <thead>
                                                    <tr>
                                                        @*<th><input type="checkbox" id="chkSelectAll" /></th>*@
                                                        @*<th><input class="check_all" type="checkbox" id="chkSelectAll" onclick="select_all()" /></th>*@
                                                        <th><input class="check_all" type="checkbox" /></th>
                                                        <th>Staff ID</th>
                                                        <th>Staff Name</th>
                                                        <th>Grade</th>
                                                        <th>Position</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                        <td>
                                                            <select id="staffID" class="form-control form-select select2" required="required">
                                                                <option value="-0">.: Select Staff ID :.</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="staffname" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="grade" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" id="position" readonly />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button id="addBtn" type="button" class='btn btn-success addmore'>Add More</button>
                                    <button id="delBtn" type="button" class='btn btn-danger delete'>Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- end app-content-->



@section scripts{
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/scripts/semua.js"></script>
    <script src="~/assets/scripts/dashboard.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            listGang();
            listStaffDet();
            listStaff();




        });


        //add row
        $("#addBtn").click(function () {
            $("table").append($("tr:last").clone(true));
            $("tr:last input").val("");
        });

        //delete row of selected checkbox
        $("#delBtn").click(function () {
            $('input[type="checkbox"]:checked').closest("tr").remove();
        });

        //automatic show staffname, grade, position based on staffID
        $("#staffID").on('change', function () {
            staffID = $("#staffID option:selected").text();
            localStorage.setItem("selID", staffID, this.value);
            listStaffDet(localStorage.getItem("selID", this.value));
        });



        function listStaffDet(staffID) {
            $.ajax({
                url: linkDepan + "GetUserDetails?StaffId=" + staffID,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    $('#staffname').val(data[0].Nama);
                    $('#grade').val(data[0].Grade);
                    $('#position').val(data[0].JobDesc);
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }




        function listStaff() {
            $.ajax({
                url: linkDepan + "GetUser",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.Nama + "'>" + value.Emplid + "</option>";
                        });
                        $('#staffID').append(auxArr.join(''));
                    } else {
                        $("#staffID").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

        function listGang() {
            $.ajax({
                url: linkDepan + "GangList",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Token", localStorage.getItem('main'));
                },
                success: function (data) {
                    if (data.length >= 1) {
                        auxArr = [];
                        $.each(data, function (index, value) {
                            auxArr[index] = "<option value='" + value.id + "'>" + value.gang + "</option>";
                        });
                        $('#gang').append(auxArr.join(''));
                    } else {
                        $("#gang").addClass(" is-invalid");

                    }
                },
                error: function (xhr) {
                    swarning();
                },
                complete: function () {
                }
            });
        }

    </script>
}

